@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700|Raleway');
body {
  background-color: white;
  font-size: 18px;
  line-height: 1.5;
}

p {
  font-family: 'Century', serif;
}

#wrapper {
  max-width: 960px;
  margin: 0 auto;
}

h1, h2,
nav {
  font-family: 'Libre Baskerville', serif;
}

h1 {
  font-size: 70px;
  margin-bottom: 0;
}

h2 {
  font-size: 40px;
  margin-top: 0;
}

a,
a:visited {
  color: rgb(150,70,163);
}

/* a:visited {
  color: rgb(52,100,174);
}  */

a:hover {
  color: rgb(63,144,239);
}

nav {
  font-size: 20px;
  background-color: #f1f1f1;
}

nav ul {
  padding-left: 0;
}

nav li {
  display: inline-block;
  margin-right: 1em;
  font-weight: bold;
  margin: 20px;
}

main {
  display: grid;
  grid-template-columns: 1fr 360px;
  grid-gap: 20px;
}

#reel main {
  display: block;
}

#intro {
  grid-column-start: 1;
  grid-row-start: 1;
}

section img {
  border: 2px solid #f1f1f1;
}

#intro p,
.description p {
  margin-top: 0;
}

#intro address p {
  margin: 0;
}

.social a {
  display: inline-block;
  margin-right: 10px;
}

/* resume style */

#resume h3 {
  margin-top: 0;
}

#resume article {
  margin-bottom: 30px;
}

#resume article h4,
#resume article h5,
#resume article p {
  margin: 0;
}

#skills div {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-gap: 20px;
}
